body{
  margin:0;
  padding: 0;
  font-family: arial;
}

*{
  box-sizing: border-box;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header a{
  text-decoration: none;
  color:inherit;
  display: block;
}

nav a{
  padding: 15px 20px;
}

.top-bar a{
  padding: 5px 10px;
  border-right: 1px solid white;
}

.top-bar .centered{
  font-size: 13px;
  display: flex;
  align-items:center;
}

.top-bar-contact:first-child{
  border-left: 1px solid white;
}



.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: auto 1fr auto;
}
section{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color:white;
}

nav{
  color:white;
}

.section-image{
    background-image: linear-gradient(to right, rgba(32, 47, 63, 1), rgba(32, 47, 63, 0.6), rgba(32, 47, 63, 1)), url('https://i.imgur.com/NSAj0UF.jpg');
    height: 200px;
    background-position: center 10px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

main{
  margin-top:62px;
  background: #e6e6e6;
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.top-bar .centered{
  display: flex;
  justify-content: space-between;
}

header .top-bar{
  color:white;
  background-color: #191919;
}

footer{
  background: gray;
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color:#191b1a;
  height: 100px;
}

.nav-align{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.centered{
  width:90%;
  margin: 0 auto;
}

.nav-bar{
  width: 100%;
  background: black;
}

header{
  width: 100%;
  position: fixed;
}

.section-info{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test{
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: row;
  color:black;
  border-radius: 5px;
  font-weight: bold;
  align-items: flex-end;
}

.test input{
  font-size: 20px;
  padding: 5px 10px;
  width: 100%;
}

.test span{
  padding: 5px;
}

.test label{
  margin-bottom: 5px;
  font-size: 18px;
}

.test #submit-btn{
  padding: 5px 30px;
}

.test select{
  font-size: 20px;
  padding: 5px 10px;
}

.test span{
  display: flex;
  flex-direction: column;
}

.book-btn{
  border: 2px solid #ff6229;
  padding: 8px 10px;
  border-radius: 2px;
  text-shadow: 1px 1px 3px black;
  background: #f2381f;
}


nav li a:hover{
  background-color: #161616;
}
